@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

body {
    font-family: 'Noto Sans', sans-serif;
}

.container {
    width: 40%;
    margin: auto;
}

/* Блок формы для отправки комментария */
form {
    display: flex;
    align-items: stretch;
    width: 100%;
}

.comment-form {
    margin-bottom: 10px;
}

textarea {
    font-family: 'Noto Sans', sans-serif;
    font-size: smaller;
    width: 100%;
    resize: none;
    min-block-size: 50px;
    border: 1px solid #898989;
    border-radius: 5px;
    padding: 10px 15px;
    overflow: hidden;
}

textarea:focus {
    outline: none;
}

button {
    width: 10%;
    background-color: inherit;
    border: none;
    cursor: pointer;
}

/* Блок ленты комментариев */
#comments {
    display: table;
    width: 100%;
}

.comment {
    font-size: smaller;
    border: 1px solid #898989;
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 10px;
}


.header {
    display: flex;
    justify-content: space-between;
}

.author {
    font-weight: bold;
}

.time {
    color: #898989;
    font-size: 0.95em;
}

.content {
    padding: 10px 0;
}

.toolbar {
    width: 100%;
    display: flex;
}

.reply {
    width: unset;
    padding: 0;
}

/* Блок уведомления */
.flash-message {
    background-color: #D4F7FFC1;
    border: 1px solid #1D647EC1;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 10px 0;
}

.message {
    font-size: smaller;
    color: #1D647EC1;
}

.close-button {
    float: right;
    cursor: pointer;
}

/* Блок ответов к комментарию */
.replies {
    width: 95%;
}
